/* Styling updates */

/* Configs part */

/* --- Zindexes subset --- */
$zindex1: 1;
$zindex2: 2;
$zindex3: 3;
$zindex4: 4;

/* -- Typography subset -- */

$baseline-grid: 6px;

$default-font-family: proxima-nova,'Segoe UI','Helvetica Neue',Arial,sans-serif;
$system-font-family: Monaco, Consolas, monospace;

$tiny-font-size:   10px;
$small-font-size:   12px;
$default-font-size: 14px;
$default-plus-font-size: 16px;
$large-font-size:   18px;
$big-font-size:     25px;
$bigger-font-size:  30px;
$enormous-font-size:40px;
$enormous-plus-font-size: 48;
$huge-font-size: 49px;
$gargantuan-font-size: 60px;


$thin-text-weight: 100;
$normal-text-weight: 100;
$toned-text-weight: 400;
$important-text-weight: 600;

$normal-line-height: $baseline-grid*3;

/* --- Variables subset --- */
$default-border-radius: 3px;

$button-height: $baseline-grid*5;

$fade-once-percentage: 0.5;
$fade-twice-percentage: 0.16;
$lightness-once-percentage: 0.5;
$lightness-twice-percentage: 0.1;
$active-element-fade-once: 0.08;

$gutter-width: $baseline-grid*4;
$top-navigation-bar-height: $baseline-grid*8;
$HELPER-sizing-variations: 30;

/* --- Colors subset --- */
$brand-color: #0064AB;

$background-main-color: #E9EBEF;
$background-data-color: #FFFFFF;
$background-muted-color: #F4F5F7;
$background-active-color: #F4F5F7;

$divider-color: #DEE1E7;

$secondaryNavigation-background-color: #283344;
$secondaryNavigation-background-highlight-color: #5A616D;
$secondaryNavigation-symbol-color: #464E5A;
$secondaryNavigation-symbol-highlight-color: #6E7889;
$secondaryNavigation-text-active: #8E9CB3;
$secondaryNavigation-text-highlight-active-color: #FFFFFF;

$background-graph-back: #F4F6FB;
$background-graph-base: #BFE4FF;
$background-graph-extend: #84CCFF;

$action-main-color: $brand-color;
$action-CTA-color: $brand-color;
$action-CTA-hover-color: lighten( $action-CTA-color, $lightness-once-percentage );
$action-CTA-clicked-color: lighten( $action-CTA-color, $lightness-twice-percentage );
$action-disabled-text-color: #CFCFCF;
$action-disabled-color: #E1E1E1;
$action-disabled-onMuted-color: #D7D7D7;
$action-disabled-onMuted-text-color: #C4C4C4;

$link-active-color: #2954BB;
$link-muted-color: #828181;
$link-disabled-color: #CFCFCF;
$link-disabled-onMuted-color: #C4C4C4;

$secondary-notification-color: #5BD5C5;
$secondary-issue-color: #855BD5;
$status-success-color: #18C125;
$status-error-color: #FE5D65;
$status-warning-color: #FCB93B;
$status-information-color: #0086E6;

$text-important-color: #333333;
$text-primary-color: #333333;
$text-secondary-color: #828181;
$text-muted-color: #B6B6B6;
$text-disabled-color: #CFCFCF;

$black-color: #000000;
$white-color: #FFFFFF;

/* --- Forms subset --- */
$form-height: $baseline-grid*6;
$form-background-color: #FFFFFF;;
$form-font-size: $default-font-size;
$form-font-weight: $toned-text-weight;
$form-active-font-weight: $important-text-weight;
$form-multiline-height: $normal-line-height;
$form-text-color: $text-important-color;
$form-disabled-text-color: $text-muted-color;
$form-unselected-text-color: $text-secondary-color;
$form-placeholder-color: #CFCFCF;
$form-border-radius: $default-border-radius;
$form-border-color: #A7A7A7;
$form-focus-border-color: $text-important-color;
$form-disabled-border-color: #E1E1E1;
$form-paddingHorizontal: ($baseline-grid*2 - 1px);
$form-label-font-size: $default-font-size;
$form-label-line-height: $baseline-grid*3;
$form-label-color: $text-primary-color;
$form-label-secondary-font-size: $small-font-size;
$form-label-secondary-color: $text-secondary-color;
$form-label-disabled-color: $text-muted-color;

/* Base &resets parts */

// override zendesk container padding + margin
//& {
  //margin-top: 0 !important;
  //padding: 0 !important;
//}

html, body, section[data-main] { height: 100%; }

.transifex-app {
  position: relative;
  display: block;

  width: 100%;
  height: 100%;

  overflow: hidden;


  * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  a,
  input,
  button,
  select {

    background-color: transparent;
    text-decoration: none;

    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    vertical-align: inherit;
    letter-spacing: initial;
    font-style: inherit;

    border-width: 0;
    border-color: transparent;
    border-style: none;

    &:focus {
      outline: none;
    }
  }

  input,
  button,
  textarea {
    -webkit-appearance: none;
  }

  textarea {
    font-family: $default-font-family;
  }

  div,
  b,
  span {
    vertical-align: inherit;
    line-height: inherit;
  }

  /* Utilities */

  .u-position-relative  { position: relative !important; }

  .u-float-left   { float: left !important; }
  .u-float-right   { float: right !important; }

  .u-clearfix {
    &:before,
    &:after {
      content: " "; // 1
      display: table; // 2
    }
    &:after {
      clear: both;
    }
  }

  .u-display-flex   {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }

  .u-display-none    { display: none !important; }

  .u-box-7x  { width: $baseline-grid*7 !important;height: $baseline-grid*7 !important; }

  .u-box-100 { width: 100% !important;height: 100% !important; }

  .u-height-form { height: $form-height !important; }

  .u-height-button { height: $button-height !important; }

  .u-height-7x  { height: $baseline-grid*7 !important; }

  .u-width-7x  { width: $baseline-grid*7 !important; }
  .u-width-midWidth { width: $baseline-grid*46 !important; }
  .u-maxWidth-midWidth { max-width: $baseline-grid*46 !important; }

  .u-width-15  { width: 15% !important; }
  .u-width-20  { width: 20% !important; }
  .u-width-30  { width: 30% !important; }
  .u-width-70  { width: 70% !important; }
  .u-width-100 { width: 100% !important; }

  .is-hidden { display: none !important; }

  /* -- Color utilities -- */
  .u-backgroundColor-active     { background-color: $background-active-color !important; }
  .u-backgroundColor-success    { background-color: $status-success-color !important; }
  .u-backgroundColor-graphExtend  { background-color: $background-graph-extend !important; }

  .u-color-primary    { color: $text-primary-color !important; }
  .u-color-secondary  { color: $text-secondary-color !important; }
  .u-color-disabled   { color: $text-disabled-color !important; }
  .u-color-muted      { color: $text-muted-color !important; }

  .u-fill-systemWarning { fill: $status-warning-color !important; }
  .u-fill-disabled   { fill: $text-disabled-color !important; }
  /* -- Border utilities -- */

  .u-borderTop-divider { border-top: 1px solid $divider-color !important; }
  .u-borderBottom-divider { border-bottom: 1px solid $divider-color !important; }

  /* -- Typography utilities -- */

  .u-textAlign-right { text-align: right !important; }
  .u-textAlign-center { text-align: center !important; }

  .u-fontSize-small         { font-size: $small-font-size !important; }
  .u-fontSize-normal        { font-size: $default-font-size !important; }
  .u-fontSize-large         { font-size: $large-font-size !important; }
  .u-fontSize-big           { font-size: $big-font-size !important; }

  .u-lineHeight-3x  { line-height: $baseline-grid*3 !important; }
  .u-lineHeight-4x  { line-height: $baseline-grid*4 !important; }
  .u-lineHeight-6x  { line-height: $baseline-grid*6 !important; }
  .u-lineHeight-7x  { line-height: $baseline-grid*7 !important; }
  .u-lineHeight-form    { line-height: $form-height !important; }
  .u-lineHeight-button  { line-height: $button-height !important; }

  /* -- Element spacing utilities -- */

  .u-marginLeft-1x  { margin-left: $baseline-grid !important; }
  .u-marginRight-1x { margin-right: $baseline-grid !important; }
  .u-marginHorizontal-1x { margin-left: $baseline-grid !important; margin-right: $baseline-grid !important; }
  .u-marginTop-1x  { margin-top: $baseline-grid !important; }
  .u-marginBottom-1x { margin-bottom: $baseline-grid !important; }
  .u-marginVertical-1x { margin-top: $baseline-grid !important; margin-bottom: $baseline-grid !important; }
  .u-margin-1x { margin: $baseline-grid !important; }
  .u-marginLeft-2x  { margin-left: $baseline-grid*2 !important; }
  .u-marginRight-2x { margin-right: $baseline-grid*2 !important; }
  .u-marginTop-2x  { margin-top: $baseline-grid*2 !important; }
  .u-marginBottom-2x { margin-bottom: $baseline-grid*2 !important; }
  .u-marginVertical-2x { margin-top: $baseline-grid*2 !important; margin-bottom: $baseline-grid*2 !important; }
  .u-margin-2x { margin: $baseline-grid*2 !important; }

  .u-marginBottom-3x { margin-bottom: $baseline-grid*3 !important; }

  .u-marginHorizontal-4x { margin-left: $baseline-grid*4 !important; margin-right: $baseline-grid*4 !important; }
  .u-marginBottom-4x { margin-bottom: $baseline-grid*4 !important; }

  .u-paddingTop-none { padding-top: 0 !important; }
  .u-paddingBottom-none { padding-bottom: 0 !important; }
  .u-paddingLeft-1x  { padding-left: $baseline-grid !important; }
  .u-paddingRight-1x { padding-right: $baseline-grid !important; }
  .u-paddingHorizontal-1x { padding-left: $baseline-grid !important; padding-right: $baseline-grid !important; }
  .u-paddingTop-1x  { padding-top: $baseline-grid !important; }
  .u-paddingBottom-1x { padding-bottom: $baseline-grid !important; }
  .u-paddingVertical-1x { padding-top: $baseline-grid !important; padding-bottom: $baseline-grid !important; }
  .u-padding-1x { padding: $baseline-grid !important; }
  .u-paddingLeft-2x  { padding-left: $baseline-grid*2 !important; }
  .u-paddingRight-2x { padding-right: $baseline-grid*2 !important; }
  .u-paddingHorizontal-2x { padding-left: $baseline-grid*2 !important; padding-right: $baseline-grid*2 !important; }
  .u-paddingTop-2x  { padding-top: $baseline-grid*2 !important; }
  .u-paddingBottom-2x { padding-bottom: $baseline-grid*2 !important; }
  .u-paddingVertical-2x { padding-top: $baseline-grid*2 !important; padding-bottom: $baseline-grid*2 !important; }
  .u-padding-2x { padding: $baseline-grid*2 !important; }
  .u-paddingLeft-3x  { padding-left: $baseline-grid*3 !important; }
  .u-paddingRight-3x { padding-right: $baseline-grid*3 !important; }
  .u-paddingHorizontal-3x { padding-left: $baseline-grid*3 !important; padding-right: $baseline-grid*3 !important; }
  .u-paddingTop-3x  { padding-top: $baseline-grid*3 !important; }
  .u-paddingBottom-3x { padding-bottom: $baseline-grid*3 !important; }
  .u-paddingVertical-3x { padding-top: $baseline-grid*3 !important; padding-bottom: $baseline-grid*3 !important; }
  .u-padding-3x { padding: $baseline-grid*3 !important; }
  .u-paddingLeft-4x  { padding-left: $baseline-grid*4 !important; }
  .u-paddingRight-4x { padding-right: $baseline-grid*4 !important; }
  .u-paddingHorizontal-4x { padding-left: $baseline-grid*4 !important; padding-right: $baseline-grid*4 !important; }
  .u-paddingTop-4x  { padding-top: $baseline-grid*4 !important; }
  .u-paddingBottom-4x { padding-bottom: $baseline-grid*4 !important; }
  .u-paddingVertical-4x { padding-top: $baseline-grid*4 !important; padding-bottom: $baseline-grid*4 !important; }
  .u-padding-4x { padding: $baseline-grid*4 !important; }

  .u-paddingLeft-gutter  { padding-left: $gutter-width !important; }
  .u-paddingRight-gutter { padding-right: $gutter-width !important; }
  .u-paddingHorizontal-gutter { padding-left: $gutter-width !important; padding-right: $gutter-width !important; }
  .u-paddingTop-gutter  { padding-top: $gutter-width !important; }
  .u-paddingBottom-gutter { padding-bottom: $gutter-width !important; }
  .u-paddingVertical-gutter { padding-top: $gutter-width !important; padding-bottom: $gutter-width !important; }
  .u-padding-gutter { padding: $gutter-width !important; }

  /* -- Flexbox utilities -- */

  .u-flexDirection-column { flex-direction: column !important; }
  .u-flexDirection-row { flex-direction: row !important; }

  .u-justifyContent-center { justify-content: center !important; }

  .u-alignItems-center { align-items: center !important; }

  .u-flexGrow-1 {
    flex: 1 0 0;
    -webkit-flex: 1 0 0;
  }

  /* Objects */

  /* -- Button object -- */
  .o-button {

    // Config
    $block-height: $button-height;
    $button-spacing: $baseline-grid*2;
    $button-paddingHorizontal: $form-paddingHorizontal;

    // Default state
    display: inline-block;
    min-width: 120px;
    max-width: 250px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: transparent;

    padding-top: 0;
    padding-bottom: 0;
    padding-left: $button-paddingHorizontal;
    padding-right: $button-paddingHorizontal;

    color: $action-CTA-color;
    font-weight: $toned-text-weight;
    text-transform: none;
    font-size: $default-font-size;
    height: $block-height;
    line-height: $block-height*1-1px; //fix for border and box sizing
    text-align: center;
    vertical-align: baseline; // reset vertical alignment for object

    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    border-radius: $default-border-radius;
    -moz-border-radius: $default-border-radius;
    -webkit-border-radius: $default-border-radius;
    border: 1px solid $action-CTA-color;
    cursor: pointer;

    transition: color 0.15s ease-out, opacity 0.15s ease-out, background-color 0.15s ease-out;
    -moz-transition: color 0.15s ease-out, opacity 0.15s ease-out, background-color 0.15s ease-out;
    -webkit-transition: color 0.15s ease-out, opacity 0.15s ease-out, background-color 0.15s ease-out;

    outline: 0;

    &.is-hover,
    &:hover {
      text-decoration: none;
      color: $action-CTA-hover-color;
      border-color: $action-CTA-hover-color;
      background-color: fade-out( $action-CTA-hover-color , 1 - $active-element-fade-once );

    }

    &.is-active,
    &:active {
      text-decoration: none;
      color: $action-CTA-clicked-color;
      border-color: $action-CTA-clicked-color;
      background-color: fade-out( $action-CTA-clicked-color ,1 - $active-element-fade-once );

      &:hover {
        border-color: lighten( $action-CTA-color, 1 - $lightness-twice-percentage );
      }

    }

    // we only keep has-spinner
    &.has-spinner {
      font-size: 0;

      // change name as bem child with __spinner
      .o-button__spinner {
        margin-top: $block-height*0.2-1px; // remove border height
        width: $block-height*0.6;
        height: $block-height*0.6;
      }

   }

   &:not(.has-spinner) {
     .o-button__spinner {
       display: none;
     }
   }

   &--fill {
      background-color: $action-CTA-color;
      color: $white-color;

      &.is-hover,
      &:hover {
        background-color: lighten( $action-CTA-color, 1 - $lightness-once-percentage);
        border-color: lighten( $action-CTA-color, 1 - $lightness-once-percentage);
        color: $white-color;
      }

      &.is-active,
      &:active {
        background-color: lighten( $action-CTA-color, 1 - $lightness-twice-percentage);
        border-color: lighten( $action-CTA-color, 1 - $lightness-twice-percentage);
        color: $white-color;
      }

    }



    &--form {
      height: $form-height; // input height
      line-height: $form-height*1-2px; //fix for border and box sizing

      // revisit spinner to fit on --form button
      &.has-spinner {
        .o-button__spinner {
          margin-top: $form-height*0.2-1px;
          width: $form-height*0.6;
          height: $form-height*0.6;
        }
      }
    }

    &[disabled],
    &.is-disabled {
      border-color: $action-disabled-color;
      color: $action-disabled-text-color;
      background-color: transparent;

      &:hover,
      &:hover:active,
      &:active {
        cursor: not-allowed;
        border: 1px solid $action-disabled-color;
        background-color: transparent;
        color: $action-disabled-text-color;
      }

    }

    &.is-hidden {
      display: none !important;
    }
  }

  /* -- Text ellipsis object -- */
  .o-text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  /* -- Link object -- */

  .o-link {
    color: $link-active-color;
    text-decoration: none;
    background-image: none !important;
    transition: color 0.1s ease-out, opacity 0.1s ease-out, background-color 0.1s ease-out;
    -moz-transition: color 0.1s ease-out, opacity 0.1s ease-out, background-color 0.1s ease-out;
    -webkit-transition: color 0.1s ease-out, opacity 0.1s ease-out, background-color 0.1s ease-out;

    &:active {
      color: lighten( $link-active-color, $lightness-twice-percentage );
      &:hover,
      &.is-hover {
        text-decoration: none;
      }
    }

    &.is-active {
      font-weight: $important-text-weight;
      &:hover,
      &.is-hover {
        text-decoration: none;
      }
    }

    &:hover,
    &.is-hover {
      color: lighten( $link-active-color, $lightness-once-percentage );
      cursor: pointer;
      text-decoration: underline;
      background-color: $background-muted-color;
    }

    &:focus,
    &.is-focus {
      outline: none;
      font-weight: $important-text-weight;
    }

    &--muted {
      color: $link-muted-color;
      &:hover,
      &.is-hover {
        color: $link-active-color;
      }

      &.is-active {
        color: $link-active-color;
      }
    }

    &:disabled,
    &.is-disabled {
      color: $link-disabled-color;
      cursor: not-allowed;
      font-weight: $normal-text-weight;
      text-decoration: none;
      .o-link__svgFill {
        fill: $link-disabled-color;
      }
      &:hover,
      &.is-hover {
        color: $link-disabled-color;
        text-decoration: none;
        cursor: default;
        background-color: transparent;
        .o-link__svgFill {
          fill: $link-disabled-color;
        }
      }
      &:focus,
      &.is-focus {
        background-color: transparent;
        .o-link__svgFill {
          fill: $link-disabled-color;
        }
      }
      &:active {
        color: $link-disabled-color;
        font-weight: normal;
        .o-link__svgFill {
          fill: $link-disabled-color;
        }
      }
      &.is-active {
        color: $link-disabled-color;
        .o-link__svgFill {
          fill: $link-disabled-color;
        }
      }
    }
  }

  /* -- List  object -- */
  .o-list {
    &:before,
    &:after {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }


    &__item {
      display: block;
    }
  }

  /* -- Label object -- */
  .o-label {
    font-size: $form-label-font-size;
    line-height: $form-label-line-height;

    color: $form-label-color;
  }

  /* -- Checkbox object -- */

  .o-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &-controller {
      position: relative;
    }

    & + .o-checkbox__label {
      position: relative;
      min-width: $form-height;
      max-width: 100%;
      min-height: $form-height;

      font-size: $form-font-size;
      line-height: $normal-line-height;

      padding-top: ($form-height - $normal-line-height)*0.5;
      padding-bottom: ($form-height - $normal-line-height)*0.5;

      text-align: left;
      padding-left: $form-font-size + $form-paddingHorizontal;

      display: inline-block;

      &.o-checkbox__labelhighlight,
      .o-checkbox__labelhighlight {
        color: $form-text-color;
      }

      &:before {
        content: '';
        position: absolute;
        display: block;
        overflow: hidden;

        width: 1em;
        height: 1em;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;

        left: 0;
        top: $form-height/2;
        margin-top: -0.6em;

        border: 1px solid $form-border-color;
        background-color: $form-background-color;

        border-radius: $form-border-radius;
        -moz-border-radius: $form-border-radius;
        -webkit-border-radius: $form-border-radius;

        transition: 0.1s border-color, 0.1s background-color;
        -moz-transition: 0.1s border-color, 0.1s background-color;
        -webkit-transition: 0.1s border-color, 0.1s background-color;
      }

      &:after {
        content: '';
        position: absolute;
        display: block;
        overflow: hidden;

        width: 0.6em;
        height: 0.3em;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;

        left: 0.2em;
        top: $form-height/2;
        margin-top: -0.3em;

        transform: rotate( -45deg );
        -moz-transform: rotate( -45deg );
        -webkit-transform: rotate( -45deg );

        border-left: 2px solid $form-background-color;
        border-bottom: 2px solid $form-background-color;

        opacity: 0;

        transition: 0.1s opacity, 0.1s border-color;
        -moz-transition: 0.1s opacity, 0.1s border-color;
        -webkit-transition: 0.1s opacity, 0.1s border-color;
      }

      &:hover,
      &.is-hover {
        cursor: pointer;
        .o-checkbox__labelhighlight {
          cursor: pointer;
        }

        &:before {
          border-color: $action-CTA-hover-color;
          background-color: fade-out( $action-CTA-hover-color ,1 - $active-element-fade-once );
        }

      }

    }

    &:focus {
      & + .o-checkbox__label {
        &:before {
          border-color: $action-CTA-hover-color;
          background-color: fade-out( $action-CTA-hover-color ,1 - $active-element-fade-once );
        }
      }

      &:checked,
      &.is-checked {
        & + .o-checkbox__label {
          &:before {
            border-color: $action-CTA-hover-color;
            background-color: $action-CTA-hover-color;
          }
        }
      }
    }

    &:checked,
    &.is-checked {
      & + .o-checkbox__label {
        &.o-checkbox__labelhighlight,
        .o-checkbox__labelhighlight {
          font-weight: $important-text-weight;
        }

        &:before {
          border-color: $action-CTA-color;
          background-color: $action-CTA-color;
        }
        &:after {
          opacity: 1;
        }

        &:hover,
        &.is-hover {
          &:before {
            border-color: $action-CTA-hover-color;
            background-color: $action-CTA-hover-color;
          }
        }
      }
    }

    &:disabled,
    &.is-disabled {

      & + .o-checkbox__label {
        cursor: not-allowed;
        .o-checkbox__labelhighlight {
          cursor: not-allowed;
        }

        color: $form-disabled-text-color;

        &:before {
          border-color: $form-disabled-border-color;
          background-color: $form-background-color;
        }
      }

      &:checked,
      &.is-checked,
      &.is-active {
        & + .o-checkbox__label {
          &:after {
            border-left-color: $form-disabled-text-color;
            border-bottom-color: $form-disabled-text-color;
          }

          &:hover,
          &.is-hover {
            &:before {
              border-color: $form-disabled-border-color !important;
              background-color: $form-background-color !important;
            }
          }
        }
      }
    }


    &--bare {
      & + .o-checkbox__label {
        min-width: 1em;
        min-height: auto;
        width: 1em;
        padding-left: 0;
      }
    }

    &__helptext {
      padding-left: $form-font-size + $form-paddingHorizontal;
    }
  }

  /* -- Textinput object -- */

  .o-textinput {

    width: 100%;
    height: $form-height;

    padding-top: ($form-height - 1px - $form-multiline-height)*0.5;
    padding-bottom: ($form-height - 1px - $form-multiline-height)*0.5;
    padding-left: $form-paddingHorizontal;
    padding-left: $form-paddingHorizontal;
    padding-right: $form-paddingHorizontal;

    font-size: $form-font-size;
    line-height: $form-multiline-height;
    background-color: $form-background-color;

    border: 1px solid $form-border-color;
    border-radius: $form-border-radius;
    -moz-border-radius: $form-border-radius;
    -webkit-border-radius: $form-border-radius;

    &::-webkit-input-placeholder{ color: $form-placeholder-color; }
    &:-moz-placeholder          { color: $form-placeholder-color; }
    &::-moz-placeholder         { color: $form-placeholder-color; }
    &:-ms-input-placeholder     { color: $form-placeholder-color; }

    &:hover,
    &:focus,
    &.is-focus {
      border-color: $form-focus-border-color;
      /* Avoid the default Bootstrap's effect */
      box-shadow: none;
      -webkit-box-shadow: none;
    }

    &[disabled],
    &.is-disabled {
      border-color: $form-disabled-border-color;
      color: $form-placeholder-color;
    }

    // added when there is an input error
    &.has-error { border-color: $status-error-color; }
  }

  /* -- Input with icon -- */
  .o-inputwith-icon {
    position: relative;
    width: 100%;
    height: $form-height;

    &--hasaction {
      .o-inputwith-icon__input {
        padding-right: $form-height;
      }
    }

    // TODO: move all --muted in textinput.less
    &--muted {
      .o-inputwith-icon__input {
        transition: border-color 0.15s, background-color 0.15s;
        -moz-transition: border-color 0.15s, background-color 0.15s;
        -webkit-transition: border-color 0.15s, background-color 0.15s;
      }
      .o-inputwith-icon__input:not(:focus) {
        background-color: fade-out( $divider-color, 1 - $fade-once-percentage );
        border-color:  fade-out( $divider-color, 1 - $fade-once-percentage );
      }

      .o-inputwith-icon__input:not(:focus):hover {
        border-color:  $form-border-color;
      }

      .o-inputwith-icon__input.is-focus {
        background-color: $form-background-color;
        border-color: $form-border-color;
      }

      .o-inputwith-icon__input.is-focus:hover {
        border-color: $form-focus-border-color;
      }
    }

    &__input {
      display: block;
      padding-left: $form-height;
    }

    &__symbol {
      position: absolute;
      display: block;
      width: $form-height*1 - 4*$baseline-grid;
      height: $form-height*1 - 4*$baseline-grid;

      top: 2*$baseline-grid;
      left: 2*$baseline-grid;

      color: $form-disabled-text-color;

      z-index: $zindex1;
    }

    &__action {
      position: absolute;
      display: block;

      width: $form-height*1-3*$baseline-grid;
      height: $form-height*1-3*$baseline-grid;
      line-height: $form-height*1-3*$baseline-grid;

      top: $baseline-grid*1.5;
      right: $baseline-grid*1.5;

      padding: $baseline-grid*0.5;

      opacity: 0.4;

      z-index: $zindex1;

      &:hover,
      &.is-hover {
        opacity: 0.8;
      }

      &:disabled,
      &.is-disabled {
        opacity: 0.4;
      }
    }
  }

  /* -- Select object -- */
  .o-select {
    $dropdown-max-height: $form-height*6.5;

    position: relative;

    width: 100%;
    height: $form-height;
    overflow: visible;

    padding-top: ($form-height - 1px - $form-multiline-height)*0.5;
    padding-bottom: ($form-height - 1px - $form-multiline-height)*0.5;
    padding-left: $form-paddingHorizontal;
    padding-left: $form-paddingHorizontal;
    padding-right: $form-paddingHorizontal;

    font-size: $form-font-size;
    line-height: $form-multiline-height;
    background-color: $form-background-color;

    border: 1px solid $form-border-color;
    border-radius: $form-border-radius;
    -moz-border-radius: $form-border-radius;
    -webkit-border-radius: $form-border-radius;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover,
    &:focus {
      outline: none;
    }
  }

  /* -- Tabs object -- */
  .o-tabs {
    position: relative;
    &:before,
    &:after {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }

    &__item {
      position: relative;
      display: block;
      float: left;

      min-width: $baseline-grid*18;
      height: inherit;

      padding-left: $baseline-grid*3;
      padding-right: $baseline-grid*3;

      text-align: center;
      color: $link-muted-color;
      line-height: inherit;

      &:before {
        content: '';
        position: absolute;
        display: block;

        left: 0;
        bottom: 0;

        width: 100%;
        height: 3px;

        opacity: 0;

        transition: opacity 0.15s;
        -moz-transition: opacity 0.15s;
        -webkit-transition: opacity 0.15s;

        background-color: $brand-color;
      }

      &:hover,
      &.is-hover {
        color: $brand-color;
      }

      &:active,
      &.is-active {
        color: $brand-color;
        font-weight: $important-text-weight;

        &:before {
          opacity: 1;
        }
      }
    }
  }

  /* -- Icon -- */

  .o-icon {
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
    top: 0.14em;
    fill: currentColor;
    vertical-align: inherit;
  }


  /* -- Badge -- */

  .o-badge {
    display: inline-block;
    padding-left: $baseline-grid/2;
    padding-right: $baseline-grid/2;
    min-width: $baseline-grid*6;

    line-height: $baseline-grid*3;
    font-size: $tiny-font-size;
    font-weight: $toned-text-weight;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none !important;
    text-indent: 0;

    color: $white-color !important;
    background-color: $text-disabled-color;

    border-radius: $baseline-grid/2;
    -moz-border-radius: $baseline-grid/2;
    -webkit-border-radius: $baseline-grid/2;

    &--over {
      position: absolute;
      right: 0px;
      bottom: 0px;
      z-index: $zindex1;
    }
  }

  /* -- Pagination -- */

  .o-pagination{

    width: 100%;
    text-align: center;

    &:before,
    &:after {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }

    &__prev, &__next, &__page{
      display: inline-block;

      color: $link-active-color;
      font-size: $small-font-size;

      padding: $baseline-grid $baseline-grid*2;
      margin: 0 $baseline-grid;


      &.is-disabled {
        color: $text-disabled-color;
        cursor: not-allowed;
      }


      &.is-active{
        border: 1px solid $link-active-color;
        border-radius: $default-border-radius;
        -moz-border-radius: $default-border-radius;
        -webkit-border-radius: $default-border-radius;

        font-weight: $important-text-weight;

        color: $link-active-color;
      }

    }


  }

  /* -- Spinner -- */

  .o-spinner {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: $baseline-grid*4;
    height: $baseline-grid*4;
    margin: 0.5em;
    color: inherit;
    border-color: $brand-color;
    border-bottom-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -webkit-animation: o-spinner-anim 1.3s linear infinite;
    -moz-animation: o-spinner-anim 1.3s linear infinite;
    animation: o-spinner-anim 1.3s linear infinite;

    &--big {
      width: $baseline-grid*8;
      height: $baseline-grid*8;

      -webkit-animation: o-spinner-anim 1s linear infinite;
      -moz-animation: o-spinner-anim 1s linear infinite;
      animation: o-spinner-anim 1s linear infinite;
    }

    &--small { width: $baseline-grid*3; height: $baseline-grid*3; margin: 0;}

  }


  @-webkit-keyframes o-spinner-anim
  {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @-moz-keyframes o-spinner-anim
  {
    100% {
      -moz-transform: rotate(360deg);
    }
  }
  @keyframes o-spinner-anim
  {
    100% {
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
    }
  }

  /* -- Status -- */

  .o-status {
    position: relative;

    &:after {
      content: "";
      display: table;
    }
    &:after {
      clear: both;
    }

    &:before {
      content: "" !important; //needed to override u-clearfix utility
      position: absolute;
      display: block !important; //needed to override u-clearfix utility

      top: 0;
      left: 0;

      width: 4px;
      height: 100%;
    }

    &.is-disabled {
      .o-status__text {
        color: $text-disabled-color;
      }
    }

    &.is-success {
      &:before {
        background-color: $status-success-color;
      }
      .o-status__text {
        color: $status-success-color;
      }
    }

    &.is-information {
      &:before {
        background-color: $status-information-color;
      }
      .o-status__text {
        color: $status-information-color;
      }
    }

    &.is-warning {
      &:before {
        background-color: $status-warning-color;
      }
      .o-status__text {
        color: $status-warning-color;
      }
    }

    &.is-error {
      &:before {
        background-color: $status-error-color;
      }
      .o-status__text {
        color: $status-error-color;
      }
    }

  }

  /* -- interactive -- */

  .o-interactive {

    &-toggle__on,
    &-toggle__off {
      position: relative;
      float: left;
      transition: max-width .15s, margin .15s, opacity .15s, 0.15s text-indent;
      -moz-transition: max-width .15s, margin .15s, opacity .15s, 0.15s text-indent;
      -webkit-transition: max-width .15s, margin .15s, opacity .15s, 0.15s text-indent;
    }

    &-list--highlight {

      .o-interactive-list__item {
        position: relative;

        transition: background-color 0.15s;
        -moz-transition: background-color 0.15s;
        -webkit-transition: background-color 0.15s;

        &:before {
          content: '';
          position: absolute;
          display: block;
          width: 4px;
          height: 100%;

          top: 0;
          left: 0;

          background-color: $action-CTA-color;

          opacity: 0;

          transition: .15s opacity;
          -moz-transition: .15s opacity;
          -webkit-transition: .15s opacity;
        }
      }

      .o-interactive-list__row {
        position: relative;

        transition: background-color 0.15s;
        -moz-transition: background-color 0.15s;
        -webkit-transition: background-color 0.15s;

        // nasty hack for tablesorter elements!!
        & > td:first-child,
        .o-interactive-list__cell {
          border-left: 4px solid transparent;

          transition: .15s border-color;
          -moz-transition: .15s border-color;
          -webkit-transition: .15s border-color;
        }
      }
    }

    &-list--highlight {
      // highlight non disabled list items and rows

      .o-interactive-list__item:not(.is-disabled):hover {

        &:before {
          opacity: 1;
        }
      }

      .o-interactive-list__row:not(.is-disabled):hover {

        & > td:first-child,
        .o-interactive-list__cell {
          border-left-color: $action-CTA-color;
        }
      }
    }

  }

  /* -- Scrollable -- */

  .o-scrollable {
    overflow: auto;

  }



  /* Components */


  /* -- Infoarea -- */
  .c-infoarea {
    position: relative;
    background-color: $background-muted-color;
    &:before,
    &:after {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }


    &__section {
      &:before,
      &:after {
        content: " ";
        display: table;
      }
      &:after {
        clear: both;
      }
    }
  }


  /* -- Initials logo -- */

  .o-initials-logo {
    position: relative;

    width: 100%;
    height: 100%;

    font-size: 120%;
    vertical-align: middle;
    text-align: center;

    color: $brand-color;
    font-weight: $toned-text-weight;
    text-transform: lowercase;
    letter-spacing: -0.01em;

    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      display: block;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      border: 2px solid $brand-color;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
    }
  }

  /* -- System messages -- */

  .c-system-message {
    position: relative;

    display: flex;

    &:before,
    &:after {
      content: ' ';
      display: table;
    }
    &:after {
      clear: both;
    }
    width: 100%;

    padding: $baseline-grid*3;

    margin-bottom: $baseline-grid*5;

    color: $text-secondary-color;
    font-size: $default-font-size;
    line-height: $baseline-grid*3;

    border-width: 1px;
    border-style: solid;
    border-left-width: 4px;
    border-radius: $default-border-radius;
    -moz-border-radius: $default-border-radius;
    -webkit-border-radius: $default-border-radius;

    background-color: $white-color;

    &--compact {
      padding-top: $baseline-grid*2;
      padding-bottom: $baseline-grid*2;

      margin-bottom: $baseline-grid*2;
    }

    &--success { border-color: $status-success-color; }
    &--success .c-system-message__symbol { fill: $status-success-color; }

    &--warning { border-color: $status-warning-color; }
    &--warning .c-system-message__symbol { fill: $status-warning-color; }

    &--error { border-color: $status-error-color; }
    &--error .c-system-message__symbol { fill: $status-error-color; }

    &__content {
      position: relative;
      flex: 1 0 0%;
      -webkit-flex: 1 0 0%;
    }

    &__symbol {
      position: relative;
      width: $large-font-size;
      height: $large-font-size;

      margin-top: 0;
      margin-right: $gutter-width/2;
    }

    &__close {
      position: absolute;
      display: block;

      width: $baseline-grid*1.5;
      height: $baseline-grid*1.5;

      top: $baseline-grid;
      right: $baseline-grid;

      color: $link-muted-color !important;

      opacity: 0.4;

      z-index: $zindex1;

      &:hover {
        opacity: 0.8;
      }
    }

    &__svgFill {
      fill: currentColor;
    }
  }

  /* -- Empty state -- */
  .c-emptystate {
    position: relative;

    color: $text-disabled-color;
    text-align: center;

    padding-top: $baseline-grid*10;
    padding-bottom: $baseline-grid*2;

    margin-left: auto;
    margin-right: auto;

    &--large {
      .c-emptystate__symbol {
        width: $baseline-grid*12;
        height: $baseline-grid*12;

        margin-bottom: $baseline-grid*4;
      }

      .c-emptystate__title {
        font-size: $big-font-size;
        line-height: $baseline-grid*5;

        margin-bottom: $baseline-grid*2;
      }
    }


    &__symbol {
      width: $baseline-grid*8;
      height: $baseline-grid*8;

      fill: currentColor;

      margin-bottom: $baseline-grid*3;
    }

    &__title {
      font-size: $large-font-size;
      font-weight: $thin-text-weight;
      line-height: $baseline-grid*4;

      margin-bottom: $baseline-grid;
    }

    &__description {
      font-size: $default-font-size;
      font-weight: $thin-text-weight;
      line-height: $baseline-grid*3;
    }
  }

  .tooltip {
    white-space: normal;
  }
  .tooltip-inner {
    max-width: 400px;
    line-height: 1.2;
  }
}
