/* Utilities */

.u-position-relative  { position: relative !important; }

.u-float-left   { float: left !important; }
.u-float-right   { float: right !important; }

.u-clearfix {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

.u-display-flex   {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.u-display-none    { display: none !important; }

.u-box-7x  { width: $baseline-grid*7 !important;height: $baseline-grid*7 !important; }

.u-box-100 { width: 100% !important;height: 100% !important; }

.u-height-form { height: $form-height !important; }

.u-height-button { height: $button-height !important; }

.u-height-7x  { height: $baseline-grid*7 !important; }

.u-width-7x  { width: $baseline-grid*7 !important; }
.u-width-midWidth { width: $baseline-grid*46 !important; }
.u-maxWidth-midWidth { max-width: $baseline-grid*46 !important; }

.u-width-15  { width: 15% !important; }
.u-width-20  { width: 20% !important; }
.u-width-30  { width: 30% !important; }
.u-width-70  { width: 70% !important; }
.u-width-100 { width: 100% !important; }

.is-hidden { display: none !important; }

/* -- Color utilities -- */
.u-backgroundColor-active     { background-color: $background-active-color !important; }
.u-backgroundColor-success    { background-color: $status-success-color !important; }
.u-backgroundColor-graphExtend  { background-color: $background-graph-extend !important; }

.u-color-primary    { color: $text-primary-color !important; }
.u-color-secondary  { color: $text-secondary-color !important; }
.u-color-disabled   { color: $text-disabled-color !important; }
.u-color-muted      { color: $text-muted-color !important; }

.u-fill-systemWarning { fill: $status-warning-color !important; }
.u-fill-disabled   { fill: $text-disabled-color !important; }
/* -- Border utilities -- */

.u-borderTop-divider { border-top: 1px solid $divider-color !important; }
.u-borderBottom-divider { border-bottom: 1px solid $divider-color !important; }

/* -- Typography utilities -- */

.u-textAlign-right { text-align: right !important; }
.u-textAlign-center { text-align: center !important; }

.u-fontSize-small         { font-size: $small-font-size !important; }
.u-fontSize-normal        { font-size: $default-font-size !important; }
.u-fontSize-large         { font-size: $large-font-size !important; }
.u-fontSize-big           { font-size: $big-font-size !important; }

.u-lineHeight-3x  { line-height: $baseline-grid*3 !important; }
.u-lineHeight-4x  { line-height: $baseline-grid*4 !important; }
.u-lineHeight-5x  { line-height: $baseline-grid*5 !important; }
.u-lineHeight-6x  { line-height: $baseline-grid*6 !important; }
.u-lineHeight-7x  { line-height: $baseline-grid*7 !important; }
.u-lineHeight-form    { line-height: $form-height !important; }
.u-lineHeight-button  { line-height: $button-height !important; }

/* -- Element spacing utilities -- */

.u-marginLeft-1x  { margin-left: $baseline-grid !important; }
.u-marginRight-1x { margin-right: $baseline-grid !important; }
.u-marginHorizontal-1x { margin-left: $baseline-grid !important; margin-right: $baseline-grid !important; }
.u-marginTop-1x  { margin-top: $baseline-grid !important; }
.u-marginBottom-1x { margin-bottom: $baseline-grid !important; }
.u-marginVertical-1x { margin-top: $baseline-grid !important; margin-bottom: $baseline-grid !important; }
.u-margin-1x { margin: $baseline-grid !important; }
.u-marginLeft-2x  { margin-left: $baseline-grid*2 !important; }
.u-marginRight-2x { margin-right: $baseline-grid*2 !important; }
.u-marginTop-2x  { margin-top: $baseline-grid*2 !important; }
.u-marginBottom-2x { margin-bottom: $baseline-grid*2 !important; }
.u-marginVertical-2x { margin-top: $baseline-grid*2 !important; margin-bottom: $baseline-grid*2 !important; }
.u-margin-2x { margin: $baseline-grid*2 !important; }

.u-marginBottom-3x { margin-bottom: $baseline-grid*3 !important; }

.u-marginHorizontal-4x { margin-left: $baseline-grid*4 !important; margin-right: $baseline-grid*4 !important; }
.u-marginBottom-4x { margin-bottom: $baseline-grid*4 !important; }

.u-paddingTop-none { padding-top: 0 !important; }
.u-paddingBottom-none { padding-bottom: 0 !important; }
.u-paddingLeft-1x  { padding-left: $baseline-grid !important; }
.u-paddingRight-1x { padding-right: $baseline-grid !important; }
.u-paddingHorizontal-1x { padding-left: $baseline-grid !important; padding-right: $baseline-grid !important; }
.u-paddingTop-1x  { padding-top: $baseline-grid !important; }
.u-paddingBottom-1x { padding-bottom: $baseline-grid !important; }
.u-paddingVertical-1x { padding-top: $baseline-grid !important; padding-bottom: $baseline-grid !important; }
.u-padding-1x { padding: $baseline-grid !important; }
.u-paddingLeft-2x  { padding-left: $baseline-grid*2 !important; }
.u-paddingRight-2x { padding-right: $baseline-grid*2 !important; }
.u-paddingHorizontal-2x { padding-left: $baseline-grid*2 !important; padding-right: $baseline-grid*2 !important; }
.u-paddingTop-2x  { padding-top: $baseline-grid*2 !important; }
.u-paddingBottom-2x { padding-bottom: $baseline-grid*2 !important; }
.u-paddingVertical-2x { padding-top: $baseline-grid*2 !important; padding-bottom: $baseline-grid*2 !important; }
.u-padding-2x { padding: $baseline-grid*2 !important; }
.u-paddingLeft-3x  { padding-left: $baseline-grid*3 !important; }
.u-paddingRight-3x { padding-right: $baseline-grid*3 !important; }
.u-paddingHorizontal-3x { padding-left: $baseline-grid*3 !important; padding-right: $baseline-grid*3 !important; }
.u-paddingTop-3x  { padding-top: $baseline-grid*3 !important; }
.u-paddingBottom-3x { padding-bottom: $baseline-grid*3 !important; }
.u-paddingVertical-3x { padding-top: $baseline-grid*3 !important; padding-bottom: $baseline-grid*3 !important; }
.u-padding-3x { padding: $baseline-grid*3 !important; }
.u-paddingLeft-4x  { padding-left: $baseline-grid*4 !important; }
.u-paddingRight-4x { padding-right: $baseline-grid*4 !important; }
.u-paddingHorizontal-4x { padding-left: $baseline-grid*4 !important; padding-right: $baseline-grid*4 !important; }
.u-paddingTop-4x  { padding-top: $baseline-grid*4 !important; }
.u-paddingBottom-4x { padding-bottom: $baseline-grid*4 !important; }
.u-paddingVertical-4x { padding-top: $baseline-grid*4 !important; padding-bottom: $baseline-grid*4 !important; }
.u-padding-4x { padding: $baseline-grid*4 !important; }

.u-paddingLeft-gutter  { padding-left: $gutter-width !important; }
.u-paddingRight-gutter { padding-right: $gutter-width !important; }
.u-paddingHorizontal-gutter { padding-left: $gutter-width !important; padding-right: $gutter-width !important; }
.u-paddingTop-gutter  { padding-top: $gutter-width !important; }
.u-paddingBottom-gutter { padding-bottom: $gutter-width !important; }
.u-paddingVertical-gutter { padding-top: $gutter-width !important; padding-bottom: $gutter-width !important; }
.u-padding-gutter { padding: $gutter-width !important; }

/* -- Flexbox utilities -- */

.u-flexDirection-column { flex-direction: column !important; }
.u-flexDirection-row { flex-direction: row !important; }

.u-justifyContent-center { justify-content: center !important; }

.u-alignItems-center { align-items: center !important; }

.u-flexGrow-1 {
  flex: 1 0 0;
  -webkit-flex: 1 0 0;
}
