.left{float:left;}
.right{float:right;}
.center{text-align:center;}
.cap{text-transform:capitalize;}
.nowrap{white-space:nowrap;overflow:auto;}
.type_name{display:inline-block;min-width:105px!important;vertical-align:middle;}
.column_name{display:inline-block;min-width:120px!important;}
.messagebox{margin-top:35px;}
.spinner{width:100%;height:100%;text-align:center;padding:6px;}
.wrapper{margin-left:5px;}
span.sync-btn{padding-left:193px;}
span.sync-message{margin-left:120px;font-family:proxima-nova,'Segoe UI','Helvetica Neue',Arial,sans-serif;font-size:12.9219999313355px;}
.txh3.underlined{color:#444;padding-bottom:.5em;border-bottom:1px solid #c3d5e3;font-size:1.692em;font-weight:300;font-family:"proxima-nova","Segoe UI",'Helvetica Neue','Arial',sans-serif;line-height:1;}
.txh3.plain{color:#444;padding-bottom:.5em;padding-right:.5em;font-size:1.692em;font-weight:300;font-family:"proxima-nova","Segoe UI",'Helvetica Neue','Arial',sans-serif;line-height:1;}
.txsubh3{padding-left:10px;}
p{margin:.2em 1em .3em 0em;font-family:proxima-nova,'Segoe UI','Helvetica Neue',Arial,sans-serif;font-size:12.9219999313355px;}

/*
Table Style - This is what you want
Credit: John Sardine - http://johnsardine.com/freebies/dl-html-css/simple-little-tab/
------------------------------------------------------------------ */
table a:link{color:#125a8c;text-decoration:none;}
table a:visited{color:#125a8c;text-decoration:none;}
table a:active,table a:hover{color:#125a8c;text-decoration:underline;}
table{font-weight:300;font-family:"proxima-nova","Segoe UI",'Helvetica Neue','Arial',sans-serif;color:#666;font-size:12px;background:#eaebec;margin:10px 10px 10px 0px;border:#ccc 1px solid;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;-moz-box-shadow:0 1px 2px #d1d1d1;-webkit-box-shadow:0 1px 2px #d1d1d1;box-shadow:0 1px 2px #d1d1d1;}
table th{padding:21px 25px 22px 25px;border-top:1px solid #fafafa;border-bottom:1px solid #e0e0e0;font-weight:300;color:#ffffff;background:#125a8c;background:-webkit-gradient(linear,left top,left bottom,from(#125a8c),to(#125a8c));background:-moz-linear-gradient(top,#125a8c,#125a8c);}

/*
table th:first-child{
	text-align: left;
	padding-left:20px;
}
*/
table tr:first-child th:first-child{-moz-border-radius-topleft:3px;-webkit-border-top-left-radius:3px;border-top-left-radius:3px;}
table tr:first-child th:last-child{-moz-border-radius-topright:3px;-webkit-border-top-right-radius:3px;border-top-right-radius:3px;}
table tr{text-align:center;padding-left:20px;}
table tr td:first-child{text-align:left;padding-left:20px;border-left:0;}
table tr td{vertical-align:middle;padding:18px;border-top:1px solid #ffffff;border-bottom:1px solid #e0e0e0;border-left:1px solid #e0e0e0;}
table tr:nth-child(odd) td{background:#fafbfc;background:-webkit-gradient(linear,left top,left bottom,from(#fbfbfb),to(#fafafa));background:-moz-linear-gradient(top,#fafbfc,#fafbfc);}
table tr:nth-child(even) td{background:#f4f6f9;background:-webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f6f6f6));background:-moz-linear-gradient(top,#f4f6f9,#f4f6f9);}
table tr:last-child td{border-bottom:0;}
table tr:last-child td:first-child{-moz-border-radius-bottomleft:3px;-webkit-border-bottom-left-radius:3px;border-bottom-left-radius:3px;}
table tr:last-child td:last-child{-moz-border-radius-bottomright:3px;-webkit-border-bottom-right-radius:3px;border-bottom-right-radius:3px;}
.buttonized.btn-border.bluebtn:hover{border-color:rgba(18,90,140,0.8);color:rgba(18,90,140,0.8);background-color:rgba(255,255,255,0.5);text-decoration:none;}
.buttonized.btn-border.bluebtn{margin:0px 2px 0px 2px;padding:2px 10px!important;background-image:none;background-color:#f4f6f9;border:2px solid #125a8c;height:32px;line-height:28px;color:#125a8c;text-shadow:none;font-weight:400;text-transform:none;font-size:14px;height:30px;line-height:30px;border-radius:4px;}
.buttonized.btn-border.bluebtn.disabled:hover{border-color:#999;color:#999;background-color:#f4f6f9;text-decoration:none;}
.buttonized.btn-border.bluebtn.disabled{margin:0px 2px 0px 2px;padding:2px 10px!important;background-image:none;background-color:#f4f6f9;border:2px solid #999;height:32px;line-height:28px;color:#999;text-shadow:none;font-weight:400;text-transform:none;font-size:14px;height:30px;line-height:30px;border-radius:4px;}
.buttonized.btn-border.greenbtn:hover{border-color:rgba(95,168,30,0.8);color:rgba(95,168,30,0.8);background-color:rgba(255,255,255,0.5);text-decoration:none;}
.buttonized.btn-border.greenbtn{padding:2px 10px!important;background-color:#67af26;color:#67af26;text-shadow:none;font-weight:400;text-transform:none;font-size:14px;height:30px;line-height:30px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;background-color:transparent;background-image:none;border:2px solid #67af26;line-height:28px;border-radius:4px;}
.buttonized.btn-border.greenbtn.disabled:hover{border-color:#999;color:#999;background-color:transparent;text-decoration:none;}
.buttonized.btn-border.greenbtn.disabled{padding:2px 10px!important;color:#999;text-shadow:none;font-weight:400;text-transform:none;font-size:14px;height:30px;line-height:30px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;background-color:transparent;background-image:none;border:2px solid #999;line-height:28px;border-radius:4px;}